{% extends 'flatpages/default.html' %}
{% load custom_filter %}
{% load custom_tags %}

{% block title %}
    {{ is_kind }}
{% endblock title %}

{% block content %}
    {% if is_kind == 'Мои статьи' %}
        <h3>{{ is_kind }} ({{my_name}})</h3>
    {% else %}
        <h3>{{ is_kind }}</h3>
    {% endif %}
    <hr>
    {% if post%}
    <div class="model-class">
       <table class="table table-striped table-hover" >
           <tr>
               <td>Название</td>
               <td>Текст</td>
               <td>Дата</td>
               <td>Автор</td>
           </tr>

           {% for publ in post %}
           <tr >
               <td><a href="{% url 'post_detail' publ.id %}">{{ publ.title }}</a></td>
               <td>{{ publ.main_text|striptags|safe|truncatewords:20 }}</td>
               <td>{{ publ.date|date_converter}}</td>
               <td>{{ publ.author }}</td>
           </tr>
           {% endfor %}
       </table>
        </div>
    {% else %}
       <h2>Публикаций нет!</h2>
    {% endif %}

    <br />
    <hr>

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}"> << </a>
       {% if page_obj.previous_page_number != 1 %}
            ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}"> >> </a>
       {% endif %}
    {% endif %}

    {% if is_registered %}
        <hr>
        <form action="{% url 'subscribe' post_category %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-lg btn-info" value="Подписаться на новости" />
        </form>
    {% endif %}
{% endblock content %}