{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% block title %}
Новость
{% endblock title %}

{% block content %}
<br />
<div class="card w-75 text-center mx-auto">
    <div class="card-header">
        {% if user.id == publ.author_id %}
            <p><a class="badge badge-info" href="{% url 'post_update' publ.id %}">Редактировать</a> / <a class="badge badge-danger" href="{% url 'post_delete' publ.id %}">Удалить</a></p>
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title" style="text-transform: uppercase">{{ publ.title }}</h5>
        <p class="card-text">{{ publ.main_text|safe }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>{{ publ.date|date_converter}}</p>
    </div>
</div>
{% if comments %}
    <hr>
    <h3> Отклики </h3>
    <hr>
    {% for comment in comments %}
        <div class="card w-50 text-center mx-auto">
            <div class="card-body">
                <p class="card-text">{{ comment.main_text|linebreaks}}</p>
            </div>
            <div class="card-footer">
                <p class="card-text">Автор: {{ comment.author__username}}</p>
                {% if comment.kind == 'accept' %}
                    <hr>
                    <p class="badge badge-success">Отклик принят!</p>
                {% elif comment.kind == 'cancel' %}
                    <hr>
                    <p class="badge badge-danger">Отклик отклонен!</p>
                {% else %}
                    {% if user.username != comment.author__username and is_user.is_authenticated %}
                        <hr>
                        <a class="badge badge-success" href="{% url 'comment_change_status' publ.id comment.id 1 %}">Принять</a> / <a class="badge badge-danger" href="{% url 'comment_change_status' publ.id comment.id 0 %}">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endif %}
{% if is_user.is_authenticated %}
<br>
<form action="{% url 'create_comment' publ.id %}" style="margin-top: 3em" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" style="margin-top: 3em" class="btn btn-lg btn-success" value="Опубликовать" />
</form>
{% else %}
<br>
<h5>Если Вы зарегистрируетесь на нашем сайте, то сможете оставлять отклики на объявления!</h5>
{% endif %}

{% endblock content %}